:root{
    --bs-primary:#c78c06;
    --bs-primary-rgb:199, 140, 6;
    --bs-secondary:#ffe6ac;
    --bs-secondary-rgb:225,230,172;
}



.banner{
    background: url(../image/main-banner.jpg) no-repeat center;
    background-size: cover;
}

.vision{
    background: url(../image/vision.jpg) no-repeat center;
    background-size: cover;

}
footer a{
    color: inherit;
}

.table-secondary{
    --bs-table-bg:var(--bs-secondary);
}
.navbar-nav .nav-link{
    color: var(--bs-primary);

}